HELP.md
target/
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.ipr


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Own ###
**/.mvn
**/.idea
**/target
**/.DS_STORE
**/mvnw
**/mvnw.cmd
**/*.iml
